*{
	margin:0;
	padding:0;
}

#main{
    width: 100%;
    height: 100%;
}

/*────────────────── 
       Hero
──────────────────*/

.hero{
    position: relative;
    margin-top:70px;
    width: 100%;
    height: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: 
        radial-gradient(circle at 3% 47%, rgba(226, 182, 250, 0.2) 0%,  rgba(235, 207, 250, 0.2) 25%,transparent 25%, transparent 100%),
        radial-gradient(circle at 47% 23%, rgba(235, 207, 250, 0.2) 0%, rgba(235, 207, 250, 0.2) 3%,transparent 3%, transparent 100%),
        radial-gradient(circle at 37% 33%, rgba(235, 207, 250, 0.2) 0%, rgba(235, 207, 250, 0.2) 5%,transparent 3%, transparent 100%),
        radial-gradient(circle at 60% 70%, rgba(226, 182, 250, 0.2) 0%, rgba(235, 207, 250, 0.2) 16%,transparent 16%, transparent 100%),
        radial-gradient(circle at 90% 20%, rgba(226, 182, 250, 0.2) 0%, rgba(235, 207, 250, 0.2) 12%,transparent 12%, transparent 100%),
        radial-gradient(circle at 55% 7%, rgba(235, 207, 250, 0.2) 0%, rgba(235, 207, 250, 0.2) 7%,transparent 7%, transparent 100%),
        radial-gradient(circle at 80% 90%, rgba(226, 182, 250, 0.2) 0%, rgba(226, 182, 250, 0.2) 8%,transparent 3%, transparent 100%),
        radial-gradient(circle at 36% 90%,  rgba(226, 182, 250, 0.2) 0%, rgba(235, 207, 250, 0.2) 6%, transparent 2%, rgba(233, 233, 233, 0.8));
          /* background: var(--header-background); */
}

.hero h1{
    font-size: 5em;
    letter-spacing: 1.6px;
    color: #333;
    background: linear-gradient(to top, #000000, #363636, #858383);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1;
}

.hero p{
    margin: 10px 0;
    font-size: 1.1em;
    z-index: 1;
}

.btns{
    margin-top: 10px;
    z-index: 1;
}

h3{
    font-size: 2em;
    margin: 10px;

}

/*────────────────── 
       About
──────────────────*/

.about{
    text-align: center;
    margin: 40px;
    
}

.about section {
    padding: 10px;
    width: 33%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.points{
    margin: 30px;
}

section p{
    text-align: justify;
    padding: 20px;
}

.about h4{
    font-size: 1.1em;
}

.about p{
    font-size: 1em;
    margin: 10px 0;
}

.why{
    margin-top: 100px;
}

/*────────────────── 
    Bottom Links
──────────────────*/

.bottom{
    width: 100%;
    height: 300px;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background-image: 
        radial-gradient(circle at 3% 47%, rgba(226, 182, 250, 0.2) 0%,  rgba(235, 207, 250, 0.2) 25%,transparent 25%, transparent 100%),
        radial-gradient(circle at 47% 23%, rgba(235, 207, 250, 0.2) 0%, rgba(235, 207, 250, 0.2) 3%,transparent 3%, transparent 100%),
        radial-gradient(circle at 37% 33%, rgba(235, 207, 250, 0.2) 0%, rgba(235, 207, 250, 0.2) 5%,transparent 3%, transparent 100%),
        radial-gradient(circle at 60% 70%, rgba(226, 182, 250, 0.2) 0%, rgba(235, 207, 250, 0.2) 16%,transparent 16%, transparent 100%),
        radial-gradient(circle at 90% 20%, rgba(226, 182, 250, 0.2) 0%, rgba(235, 207, 250, 0.2) 12%,transparent 12%, transparent 100%),
        radial-gradient(circle at 55% 7%, rgba(235, 207, 250, 0.2) 0%, rgba(235, 207, 250, 0.2) 7%,transparent 7%, transparent 100%),
        radial-gradient(circle at 80% 90%, rgba(226, 182, 250, 0.2) 0%, rgba(226, 182, 250, 0.2) 8%,transparent 3%, transparent 100%),
        radial-gradient(circle at 36% 90%,  rgba(226, 182, 250, 0.2) 0%, rgba(235, 207, 250, 0.2) 6%, transparent 2%, rgba(233, 233, 233, 0.8));  
}

.bottom-btns{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.links ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.links li{
    margin: 10px;
    font-size: .9em;
    list-style: none;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    font-family: var(--main-font-family);
    color: var(--fonts-color);
}

.bottom h4{
    margin: 20px 10px;
}

.links li:hover{
    border-bottom: 2px solid #7235d3;
    color: var(--decor-color);
    font-weight: bold;
}

a{
    text-decoration: none;
}

/*────────────────── 
  Bubble Animation
──────────────────*/

.ok div {
    position: relative;
    bottom: 20px;
    width: 100%;
    background-color: transparent;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.ok img{
	position: absolute;
	width : 20px;
    z-index: 0;
	
}
.ok img:nth-child(1) {
  top: 24%;
  left: 42%;
  animation: bkg 5s linear infinite;
}

.ok img:nth-child(2) {
  top: 60%;
  left: 50%;
  animation: bkg 7s linear infinite;
}

.ok img:nth-child(3) {
  top: 17%;
  left: 6%;
  animation: bkg 4s linear infinite;
}

.ok img:nth-child(4) {
  top: 20%;
  left: 60%;
  animation: bkg 10s linear infinite;
}

.ok img:nth-child(5) {
  top: 67%;
  left: 10%;
  animation: bkg 6s linear infinite;
}

.ok img:nth-child(6) {
  top: 80%;
  left: 70%;
  animation: bkg 3s linear infinite;
}

.ok img:nth-child(7) {
  top: 60%;
  left: 80%;
  animation: bkg 8s linear infinite;
}

.ok img:nth-child(8) {
  top: 32%;
  left: 25%;
  animation: bkg 6s linear infinite;
}

.ok img:nth-child(9) {
  top: 90%;
  left: 25%;
  animation: bkg 4s linear infinite;
}

.ok img:nth-child(10) {
  top: 20%;
  left: 80%;
  animation: bkg 5s linear infinite;
}

.ok img:nth-child(11) {
  top: 40%;
  left: 80%;
  animation: bkg 3s linear infinite;
}


.ok img:nth-child(12) {
  top: 60%;
  left: 60%;
  animation: bkg 2s linear infinite;
}

.ok img:nth-child(13) {
  top: 80%;
  left: 30%;
  animation: bkg 7s linear infinite;
}

.ok img:nth-child(14) {
  top: 20%;
  left: 20%;
  animation: bkg 5s linear infinite;
}

.ok img:nth-child(15) {
  top: 10%;
  left: 90%;
  animation: bkg 6s linear infinite;
}

@keyframes bkg {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: scale(5) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}

/*────────────────── 
   Media Queries
──────────────────*/


@media screen and (min-width: 1070px){
    .about{
        margin:100px;
    }
    .bottom-btns section{
        width: 350px;
 }
}

@media screen and (max-width: 1070px){
    .bottom-btns section{
        width: 300px;
    }
    .bottom h4{
    margin:10px 0;
    }
}
/* 
@media screen and (max-width: 1200px){
.about{
        margin:80px;
    }
} */

@media screen and (max-width: 1000px){
    .about section {   
        margin: 0 auto;
        width: 340px;
    }
}

@media screen and (max-width: 916px){
   .bottom{
        height: 100%;
    }
    .bottom-btns section{
        margin: 10px;
  }

} 


@media only screen and (max-width: 500px) {
	.nav-bar{
        display: none;
	}

    .logo img{
        margin-left: 40px;
    }

    .github{ display: none;}

	.hamburger{
		position:absolute;
		top: 20px;
		right: 10%;
		display: block;
		cursor:pointer;
		z-index: 5;
	}	

    .nav-active{
		position: absolute;
		width: 100%;
		height: 80px;
		top: 60px;
		left: 0px;
		padding: 10px 30px;
		display: flex;
		flex-direction: column;
		background: var(--header-background);
    }
}

@media screen and (max-width: 400px){
    .hero h1{
        font-size: 4em;
    }
    .hero p{
       font-size: 1em;
    }
    .about section { 
        width: 100%;
    }
    
} 