@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Tenor+Sans&display=swap');

:root{
	--background: #fefefe;
	--fonts-color: #000000;
	--decor-color:#7235d3;
    --header-background:#F6F6F6;
	--main-font-family: 'Poppins', sans-serif;
    --style-font-family: 'Tenor Sans', sans-serif;
    --button-font-family: Arial, Helvetica, sans-serif;
    --heading-font-family: 'Poppins', sans-serif;
}

*{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body{
	width: 100%;
	height: 100%;
    font-size: 16px;
    background: var(--background);
}

/*────────────────── 
       Fonts
──────────────────*/

h1{
    font-family: var(--style-font-family);
}

h2,h3,h4,h5,h6{
    font-family: var(--heading-font-family);
}

p{
    font-family: var(--main-font-family);
}

/*────────────────── 
       Buttons
──────────────────*/

button{
    border-radius: 50px;
    font-size: 1em;
    width: 150px;
    height: 40px;
    margin: 3px;
    border: none;
    cursor: pointer;
    font-family: var(--button-font-family);
}

button:focus{
    outline: none;
}

.btn-1{
    transition: 0.3s;
    background: var(--decor-color);
    color: #efefef;
    box-shadow: 0 2px 10px 0 #9900ff63;
}

.btn-1:hover{
    background: #8031ff;
    box-shadow: 0 3px 10px 0 #9900ffa4;
}

.btn-2{
    transition: 0.3s;
    box-shadow: 0 2px 10px 0 #8080806b;
}

.btn-2:hover{
    background: #fff;
    box-shadow: 0 3px 10px 0 #808080d3;
}

/*────────────────── 
       Header
──────────────────*/

header{
	margin: 0 auto;
	width: 100%;
	height: 70px;
	display: flex;
    align-items: center; 
	justify-content: space-between; 
    background: var(--header-background);
	position: fixed;
	top: 0;
	transition: 0.3s;
    filter: drop-shadow(0 1px 4px #808080ab);
    z-index: 50;
}

.logo img{
    margin-left: 50px;
    width: 40px;
}

.nav-bar{
	list-style: none;
	position: relative;
	display: inline-flex;
}

a.nav-link{
	padding: 2px;
	margin: 5px 10px;
	text-decoration: none;
	color: var(--main-fonts-color);
	font-family: var(--main-font-family);
	cursor: pointer;
	text-transform: capitalize;
}

a.nav-link:hover{
    border-bottom: 2px solid #7235d3;
    color: var(--decor-color);
    font-weight: bold;
}

.github, .icon{
    font-size: 2em;
    margin:0 40px;
	cursor: pointer;
	text-decoration: none;
	color: var(--main-fonts-color);
    transition: 0.3s;
}

.icon:hover{
    color: var(--decor-color);
    text-shadow: 0 1px 10px #9900ff62; 
}

/*────────────────── 
       Footer
──────────────────*/

footer {
    position: relative;
    bottom: 0;
	width: 100%;
	height: 100%;
}

.copyright {
    color: var(--main-fonts-color);
	font-size: 0.9em;
	line-height: 40px;
	text-align: center;
    font-family: var(--main-font-family);
}

/*────────────────── 
     Hamburger
──────────────────*/

.hamburger {
	display: none;
	cursor: pointer;
}

.hamburger div{
	width: 30px;
	height: 3px;
	background: var(--decor-color);
	margin: 5px;
	transition:all 0.3s ease;
}

.toggle .line1{
	transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
	opacity: 0;
}

.toggle .line3{
	transform: rotate(45deg) translate(-5px,-6px);
}